<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>

<body>

<div id="wrapper">
    <div th:insert="blocks/navigation :: navigation"></div>

    <div id="main">
        <div id="content">

        <div class="statusMsg" th:text="${statusMessage}"></div>
        <form method="POST" action="" enctype="multipart/form-data">
            <div>
                <label for="formFileLg" class="form-label">Введите описание/пояснение к документу:</label>
                <input type="text" name="description" placeholder="Введите описание документа" class="form-control"><br>
                <label for="formFileLg" class="form-label">Выберите документ для загрузки</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
                </div>

            <button type="submit" class="btn btn-primary my-3">Загрузить документ</button>
        </form>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>

    </div>
    <footer th:insert="blocks/footer :: footer "></footer>
</div>

<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>