<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>
<body>
<div id="wrapper">

    <header th:insert="blocks/header :: header"></header>

    <div id="main">
        <div id="content">
            <h2>Документы</h2>
            <div th:each="el : ${allDocs}" class="postDoc">
                <div class="">
                    <p th:text="${el.description}" class="docOrigName"></p>
                    <img th:src="@{../images/word2.png}" class="imageDoc">
                    <a th:href="@{/doc/{filename}(filename = ${el.name})}" target="_blank" th:download="${el.name}">
                        <p th:text="${el.originalName}" class="docName"></p>
                    </a>
                </div>
            </div>
        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>

    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>