<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>

<body>

<div id="wrapper">

    <header th:insert="blocks/header :: header"></header>

    <div id="main">
        <div id="content" class="mb-5">
            <h2>Добавление статьи</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
                <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
                <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control"></textarea><br>
                <p>Загрузите изображение:</p> <input type="file" name="file"> <br>
                <p>Поместить на главную?:</p>
                <select id="types" name="types">
                    <option value="0">0.Нет</option>
                    <option value="1">1.Да</option>
                </select><br><br>
                <button type="submit" class="btn btn-primary mt-5">Добавить новость</button>
            </form>
        </div>
    </div>



    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>