<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>

<body>

<div id="wrapper">

    <div th:insert="blocks/navigation :: navigation"></div>

    <div id="main">
        <div id="content" class="col-sm-12 col-md-12 col-lg-8">

            <div th:each="el : ${post}">
                <span th:switch="${el.filename}">
                    <p th:case="'null'"></p>
                    <p th:case="*">
                        <a data-fancybox="gallery" th:href="@{/img/{filename}(filename = ${el.filename})}">
                            <img th:src="@{/img/{filename}(filename = ${el.filename})}" class="detailsImage">
                        </a>
                    </p>
                </span>
                <div class="postTitleDiv">
                <h3 th:text="${el.title}" class="postTitleDetails"/>
                </div>
                <a href="/blog" class="btn btn-info">Назад</a>
                <div id="fullText">
                    <textarea name="full_text" th:text="${el.full_text}" cols="50" style="width: 599px;">
                    </textarea><br>
                </div>

                <p th:text="'Просмотров: ' + ${el.views}" class="views-post"/>
                <p th:text="${el.date}" class="date-post"/>

            </div>

        </div>
        <div th:insert="blocks/sidebar :: sidebar"></div>

    </div>

    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<style>
    .nicEdit-panelContain{
        display: none;
    }
    .nicEdit-main{
    pointer-events: none;
    }
</style>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>