<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>

<body>

<div id="wrapper">
    <div th:insert="blocks/navigation :: navigation"></div>

    <div id="main">
        <div id="content" class="col-sm-12 col-md-12 col-lg-8">


            <h2 class="">Контакты</h2>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Телефоны:</th>
                    <th scope="col">Эл. почты:</th>
                    <th scope="col">Соц. Сети:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${contactList[0].name}"></td>
                    <td th:text="${contactList[3].name}"></td>
                    <a th:href="${contactList[6].name}"><td th:text="${contactList[6].name}"></td></a>
                </tr>
                <tr>
                    <td th:text="${contactList[1].name}"></td>
                    <td th:text="${contactList[4].name}"></td>
                    <a th:href="${contactList[7].name}"><td th:text="${contactList[7].name}"></td></a>
                </tr>
                <tr>
                    <td th:text="${contactList[2].name}"></td>
                    <td th:text="${contactList[5].name}"></td>
                    <a th:href="${contactList[8].name}"><td th:text="${contactList[8].name}"></td></a>
                </tr>
                </tbody>
            </table>
            <div class="nicEditDiv">
            <textarea class="adress" id="editor1" th:text="${contactList[10].name}" style="width: 99%;"></textarea>
            </div>

            <h2 class="mt-4 mb-2">Наш адресс:</h2>

            <div class="nicEditDiv">
            <textarea name="adress1" th:text="${contactList[9].name}" id="editor2" class="form-control" style="width: 99%;">
            </textarea>
            </div>

            <script type="text/javascript" charset="utf-8" async th:src="${yandexMapsApi}"></script>
        </div>
            <div th:insert="blocks/sidebar :: sidebar"></div>
    </div>
            <footer th:insert="blocks/footer :: footer "></footer>

</div>
<style>
    .nicEdit-panelContain{
        display: none;
    }
        .nicEdit-main{
    pointer-events: none;
    }
</style>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>


