<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
</head>

<body>

<div id="wrapper">

    <div th:insert="blocks/navigation :: navigation"></div>

    <div id="main">
        <div id="content" class="mb-5">
            <h2>Добавление фотоальбома</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Введите название альбома" class="form-control my-2"><br>
                <p>Загрузите изображение:</p> <input type="file" name="files" multiple> <br>
                <button type="submit" class="btn btn-primary mt-5">Создать альбом</button>
            </form>
        </div>
    </div>



    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>