<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
    <link href="../static/css/photo.css" th:href="@{/css/photo.css}" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrapper">

    <header th:insert="blocks/header :: header"></header>

    <div id="main">
        <div id="content">
            <h2 th:text="${name}"></h2>
            <a href="/photo" class="btn btn-info">Назад</a>

            <div th:each="el : ${album}">
                <div th:each="list, iter : ${photoAlbum}">
                <a data-fancybox="gallery" th:href="@{/img/{filename}(filename = ${el.images[iter.index]})}">
                    <img th:src="@{/img/{filename}(filename = ${el.imagesMin[iter.index]})}" class="everyPhoto rounded">
                </a>
                </div>
            </div>



        </div>
    </div>

    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>