<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="blocks/headLink :: headLink"></header>
    <link href="../static/css/photo.css" th:href="@{/css/photo.css}" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrapper">

    <header th:insert="blocks/header :: header"></header>

    <div id="main">
        <div id="content">
            <h2 th:text="${name}"></h2>
            <a href="/photo" class="btn btn-info">Назад</a>

            <form th:action="'/photo/' + ${id} + '/edit'" method="post" enctype="multipart/form-data">
                <input type="text" name="name" th:value="${name}" class="form-control">
                <p>Добавить изображения</p> <input type="file" name="files" multiple> <br>
                <button class="btn btn-danger" type="submit"> Изменить</button>
            </form>
                <div th:each="el : ${photoAlbumMin}">
                        <img th:src="@{/img/{filename}(filename = ${el})}" class="everyPhoto">
                </div>

        </div>
    </div>

    <footer th:insert="blocks/footer :: footer "></footer>

</div>
<div th:insert="blocks/footerLink :: footerLink "></div>
</body>
</html>