<div th:fragment="navigation">

    <div class="slider single-item">
        <div class="slider-item"><img th:src="@{../images/logo11.jpg}" alt=""></div>
        <div class="slider-item"><img th:src="@{../images/logo12.jpg}" alt=""></div>
        <div class="slider-item"><img th:src="@{../images/logo13.jpg}" alt=""></div>


    </div>

        <div id="blue-bar">
            <img th:src="@{../images/home.png}" class="homeLogo">
            <a href="/" class="expand">Главная</a>
            <ul>
                <li><a href="/blog">Новости</a></li>
                <li><a href="/competition">Соревнования</a></li>
                <li><a href="/documents">Документы</a></li>
                <li><a href="/about">О Фередации</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/photo">Фотографии</a></li>
            </ul>
        </div>
</div>