<div th:fragment="navigation">

    <div class="slider single-item">
        <div class="slider-item"><img class="slider-image" th:src="@{../images/logo16.jpg}" alt=""></div>
        <div class="slider-item"><img class="slider-image" th:src="@{../images/logo17.jpg}" alt=""></div>
        <div class="slider-item"><img class="slider-image" th:src="@{../images/logo18.jpg}" alt=""></div>


    </div>
    <div class="navigat">
        <div class="container blue-bar1 breakpoints">
            <header class="header row">
                <div class="col-lg-2 text-center">
                    <img th:src="@{../images/home.png}" class="homeLogo">
                    <a href="/" class="expand"> Главная</a>
                </div>
                <div class="col-lg-10 text-center">
                    <ul class="row gy-3">
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/blog">Новости</a></li>
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/competition">Соревнования</a></li>
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/documents">Документы</a></li>
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/about">О Фередации</a></li>
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/contacts">Контакты</a></li>
                        <li class="col-sm-6 col-md-4 col-lg-auto"><a href="/photo">Фотографии</a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>