<div th:fragment="sidebar-admin">
    <div id="sidebar">
        <form action="" method="post" enctype="multipart/form-data">
            <p>Количество выводимых постов на странице: </p>
            <select class="form-select" name="count">
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="10">10</option>
            </select>
        <h4>Прямые трансляции:</h4>
            <div>
                <input type="text" id="videoDescription" name="video_description" placeholder="введите описание трансляции"><br>
                <input type="text" id="videolink" name="videolink" placeholder="вставьте ссылку на видео" class="mt-2" value="null">
                <button type="submit" class="btn btn-primary mt-1" id="but1">Вставить ссылку</button>

            </div>
        </form>

        <a href="/documents"><h4 class="mt-4 text-center">Документы</h4></a>
        <ol class="square text-align">
            <li th:each="el : ${docs}" >
                <a th:href="@{/doc/{filename}(filename = ${el.name})}" target="_blank" th:download="${el.name}">
                    <pre th:text="${el.name}"></pre>
                </a>
            </li>
        </ol>
        <a href="/blog/addDocument" class="btn btn-primary mt-3"> Добавить документ</a>
        <a href="/documents/admin" class="btn btn-primary mt-3"> Управление документами</a>

        <h4 class="mt-4 text-center">График соревнований</h4>
        <ol class="square text-align">
            <li th:each="el : ${calendarDocs}">
                <a th:href="@{/doc/{filename}(filename = ${el.name})}" target="_blank" th:download="${el.name}">
                    <p class="clip" th:text="${el.originalName}"></p>
                </a>
            </li>
        </ol>
        <a href="/blog/addDocumentCalendar" class="btn btn-primary mt-3"> Добавить документ</a>
        <a href="/blog/addDocumentCalendarClear" class="btn btn-danger mt-3"> Очистить список документов</a>



        <a href="/date" class="cal"><h4 class="mt-4 text-center">Расписание</h4>
            <div class="look-calendar">
                <table id="calendar">
                    <thead>
                    <tr>
                        <td><b class="click">‹</b>
                        <td colspan="5">
                        <td><b class="click">›</b>
                    <tr class="dn"><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </a>
    </div>
</div>