<div th:fragment="sidebar">
    <div id="sidebar" class="col-sm-12 col-md-12 col-lg-4">

        <h4 class="text-center">Поиск новостей</h4>
        <form action="/search" method="post" class="square text-center">
            <input type="text" name="search" id="searchField" placeholder="введите текст для поиска">
            <button type="submit" class="btn btn-info mt-1" id="but1">Найти</button>
        </form>

        <a href="/liveStream"><h4 class="mt-4 text-center">Прямые трансляции</h4></a>
        <div id="videoSpan" class="">
                <span th:switch="${videoLink}" >
                    <p th:case="'null'" class="text-center">Прямых трансляций сейчас нет!</p>
                    <p th:case="*"><iframe id="videoSidebar" th:src="${videoLink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                </span>
        </div>

        <a href="/documents"><h4 class="mt-4 text-center">Документы</h4></a>
        <ol class="square text-align">
            <li th:each="el : ${docs}">
                <a th:href="@{/doc/{filename}(filename = ${el.name})}" target="_blank" th:download="${el.name}">
                    <p class="clip" th:text="${el.originalName}"></p>
                </a>
            </li>
        </ol>

        <h4 class="mt-4 text-center">График соревнований</h4>
        <ol class="square text-align">
            <li th:each="el : ${calendarDocs}">
                <a th:href="@{/doc/{filename}(filename = ${el.name})}" target="_blank" th:download="${el.name}">
                    <p class="clip" th:text="${el.originalName}"></p>
                </a>
            </li>
        </ol>

        <a href="/date" class="cal"><h4 class="mt-4 text-center">Расписание</h4>
        <div class="look-calendar">
            <table id="calendar">
                <thead>
                <tr>
                    <td><b class="click">‹</b>
                    <td colspan="5">
                    <td><b class="click">›</b>
                <tr class="dn"><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </a>
        
        <a href="#!" class="ripple text-center">
            <div  class="mt-4" >
                <img th:src="@{../images/vladimir-gerb.png}" class="russ rounded-3">
            </div>
        </a>
    </div>
</div>